{%
  set classes = [
    variant and variant != 'default' ? 'btn-' ~ variant,
    active ? 'btn-active',
    size ? 'btn-' ~ size,
    wide ? 'btn-wide',
    'inline-flex',
    'items-center', 
    'px-3',
    'py-2',
    'text-sm',
    'font-medium',
    'text-center',
    'text-white',
    'bg-blue-700',
    'rounded-lg',
    'hover:bg-blue-800',
    'focus:ring-4',
    'focus:outline-none',
    'focus:ring-blue-300',
    'dark:bg-blue-600',
    'dark:hover:bg-blue-700',
    'dark:focus:ring-blue-800'
  ]
%}

{% set attributes = attributes.addClass(classes) %}

{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  {% set attributes = attributes.setAttribute('href', url) %}
  <a{{ attributes.setAttribute('role', 'button') }}>
{% else %}
  <button{{ attributes }}>
{% endif %}
  {% block label %}{% endblock %}
{% if url or attributes.href %}
  </a>
{% else %}
  </button>
{% endif %}
