{# /** * @file * Logo collection paragraph template using paragraph-wrapper component with embed pattern. */ #} {# Logo
collection paragraph configuration #} {% set wrapper_theme = paragraph.field_theme.value|default('default') %} {% set
wrapper_spacing = paragraph.field_spacing.value|default('medium') %} {% set wrapper_tag = 'section' %} {% set
wrapper_css_class = [ 'paragraph', 'paragraph--type--' ~ paragraph.bundle|clean_class, view_mode ?
'paragraph--view-mode--' ~ view_mode|clean_class, not paragraph.isPublished() ? 'paragraph--unpublished' ]|join(' ') %}
{# Embed the paragraph-wrapper component using slots #} {% embed 'adesso_cms_theme:paragraph-wrapper' with { theme:
wrapper_theme, spacing: wrapper_spacing, tag: wrapper_tag, className: wrapper_css_class, attributes: attributes } %} {%
block prefix %}{% endblock %} {% block content %} 
{% embed 'adesso_cms_theme:logo-collection' with { 
  title: content.field_title['#items'].getString(), 
  pre_headline: content.field_pre_headline['#items'].getString(), 
  is_dark: wrapper_theme == 'dark' 
} only %} 
  {% block logo_items %}
    {# Use field template rendering instead of manual iteration - MAINTENANCE OVERHEAD FIX #}
    <div class="contents">
      {{ content.field_media_item }}
    </div>
  {% endblock %} 
{% endembed %} 
{% endblock %} {% endembed %}
