{%
  set classes = []
%}
{% set is_dark = paragraph.field_content_element_theme.value %}

<div class="w-full {{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
<div{{ attributes.addClass(classes) }}>

  {% block content %}
    {{ content.frontend_editing }}
    {% embed 'adesso_cms_theme:logo-collection' with {
      title: content.field_title['#items'].getString(),
      content: content,
      pre_headline: content.field_pre_headline['#items'].getString(),
      is_dark: is_dark ? true : false,}
      only %}
      {% block logo_items %}
        {% for i in content.field_media_item['#items'] %}
          <span class="flex justify-center items-center">
              {{ content.field_media_item[loop.index0] }}
          </span>
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
</div>
