{#
/**
 * @file
 * Block Reference component.
 *
 * @param {string} pre_headline - Pre-headline text
 * @param {string} title - Main headline
 * @param {string} block_content - Rendered block content
 * @param {boolean} is_dark - Whether to use dark theme
 */
#}
<div class="block-reference-container container">
  {% if pre_headline or title %}
    {% include 'adesso_cms_theme:section-header' with {
      title: title,
      pre_headline: pre_headline,
      alignment: 'left',
      title_tag: 'h2',
      pre_headline_tag: 'h3',
      title_visual_level: '2',
      pre_headline_visual_level: '3'
    } %}
  {% endif %}

  {% if block_content %}
    <div class="block-reference-content mt-4">
      {{ block_content|raw }}
    </div>
  {% endif %}
</div>