{% set classes = [
  'paragraph',
  'paragraph--type--image-text',
  'container',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="py-6 grid grid-cols-12 gap-8 lg:gap-16">
    <div class="col-span-full md:col-span-7 place-self-center
                {% if field_alignment == 'right' %}md:order-2{% else %}md:order-1{% endif %}">
      {{ content.field_text }}
    </div>
    <div class="col-span-full md:col-span-5
                {% if field_alignment == 'right' %}md:order-1{% else %}md:order-2{% endif %}">
      <figure class="relative">
        {{ content.field_image }}

        {% if content.field_image.0['#media'] is not empty %}
          {% set media = content.field_image.0['#media'] %}
          {% if media.hasField('field_image_caption') and media.field_image_caption.value is not empty %}
            <figcaption class="text-sm mt-1">{{ media.field_image_caption.value }}</figcaption>
          {% endif %}
        {% endif %}
      </figure>
    </div>
  </div>
</div>
