<div
  class="py-8 mx-auto container lg:py-16 flex flex-col lg:flex-row items-center justify-between gap-6 {{ modifier|default('container') }}{{ layout|default('left') == 'right' ? ' lg:flex-row-reverse' : '' }} data-[theme=light]:bg-gray-100 data-[theme=light]:text-gray-800 data-[theme=dark]:bg-gray-900 data-[theme=dark]:text-gray-100"
>
  <div class="w-full lg:w-1/2 relative">
    {% block media %}
      {# Media slot replaces media prop for better template flexibility #}
    {% endblock %}
  </div>
  <div class="w-full lg:w-1/2 xl:w-5/12 flex flex-col gap-4">
    {% block title %}
      {# Title slot for side-by-side component title content #}
    {% endblock %}
    {% block content %}
      {# Content slot for main side-by-side text content #}
    {% endblock %}
    <div class="mb-6">
      {% block features %}
        {# Features slot for side-by-side features content #}
      {% endblock %}
    </div>
    <div class="flex">
      {% block primary_action %}{% endblock %}
    </div>
  </div>
</div>
