{% set blockContent %}
    {% block frontend_editing %}
        {{ content.frontend_editing }}
    {% endblock %}
    <article class="span-content md:col-span-6 stack-4 {{ image_right ? 'md:col-start-[col-7]' : 'md:col-start-[content-start]' }}">
        {% block title %}{% endblock %}
        <span class="text-2xl/10 text-pretty font-[100]  text-neutral">{% block subtitle %}{% endblock %}</span>
        <div class="sm:max-w-2xl prose">
            {% block text %}{% endblock %}
        </div>
        <div>
            {% block actions %}{% endblock %}
        </div>
    </article>

    <figure class="span-content md:col-span-6 {{ image_right ? 'md:col-start-[content-start]' : 'md:col-start-[col-7]' }}">
        {% block image %}{% endblock %}
    </figure>

{% endset %}

{% embed "adesso_standard:block" %}

    {% block inner %}
        {{ blockContent }}
    {% endblock %}

{% endembed %}
