{% embed 'adesso_cms_theme:recent-card-item' with { "url": url } only %}
  {% block title %}
    {{ label }}
  {% endblock %}
  {% block content %}
    <div class="recent-card-content">
      {{ content.field_thumbnail }}
      {{ content.field_summary }}
    </div>
  {% endblock %}
{% endembed %}
