{# Set theme based on parameter or default #}

<div class="py-8 px-4 mx-auto container sm:py-16 lg:px-6 space-y-8">
  {# Header section if title or pre_headline slots are provided #}
  {% if has_slot('title') or has_slot('pre_headline') %}
    <div class="mx-auto text-center mb-8">
      {% include 'adesso_cms_theme:section-header' with { 
        title: get_slot('title'), 
        pre_headline: get_slot('pre_headline'), 
        alignment: 'center', 
        title_tag: 'h2', 
        pre_headline_tag: 'span',
        title_visual_level: '2', 
        pre_headline_visual_level: '3' 
      } %}
    </div>
  {% endif %}
  
  <div class="mx-auto">
    <div
      data-accordion="collapse"
      data-active-classes="[&>h2>button]:bg-[var(--theme-bg-active)]"
      data-inactive-classes="[&>h2>button]:bg-[var(--theme-bg-secondary)]"
    >
      {{ get_slot('accordion_items') }}
    </div>
  </div>
</div>
