<div class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
    {% if pre_headline %}
      <p class="mb-2 text-lg font-medium text-center">
        {{ pre_headline }}
      </p>
    {% endif %}
    <h2 class="mb-6 lg:mb-8 text-3xl lg:text-4xl tracking-tight font-extrabold text-center text-gray-900">{{ title }}</h2>
    <div class="mx-auto max-w-screen-md">
      <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white text-gray-900" data-inactive-classes="text-gray-500">
        {% block accordion_items %}
          {% for item in accordion_items %}
            {% include '@adesso_cms_theme/accordion/accordion-item.twig' with {
              item: item,
              is_expanded: loop.first,
              accordion_instance: loop.index
            } only %}
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
