{# Set theme based on parameter or default #}

<div class="py-8 px-4 mx-auto container sm:py-16 lg:px-6 space-y-8">
  <div class="mx-auto">
    <div
      data-accordion="collapse"
      data-active-classes="[&>h2>button]:bg-[var(--theme-bg-active)]"
      data-inactive-classes="[&>h2>button]:bg-[var(--theme-bg-secondary)]"
    >
      {% block accordion_items %} {% for item in accordion_items|default([]) %} {% include
      'adesso_cms_theme:accordion-item' with { item: item, is_expanded: loop.first, accordion_instance: loop.index,
      is_dark: is_dark|default(false), } only %} {% endfor %} {% endblock %}
    </div>
  </div>
</div>
