<div class="{{ is_dark ? 'text-gray-900' : 'text-gray-900' }}">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
    {% if pre_headline %}
      <h3 class="mb-4 text-2xl font-bold tracking-tight leading-none text-center text-gray-900">
        {{ pre_headline }}
      </h3>
    {% endif %}
    <h2 class="text-3xl font-bold text-center text-gray-900">{{ title }}</h2>
    <div class="mx-auto">
      <div id="accordion-flush" data-accordion="collapse" data-active-classes="{{ is_dark ? 'bg-gray-100 text-gray-900' : 'bg-white text-gray-900' }}" data-inactive-classes="text-gray-900">
        {% block accordion_items %}
          {% for item in accordion_items %}
            {% include '@adesso_cms_theme/accordion/accordion-item.twig' with {
              item: item,
              is_expanded: loop.first,
              accordion_instance: loop.index,
              is_dark: is_dark,
            } only %}
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
