{% set grid_cols = columns == 2 ? 'sm:grid-cols-2' : 'sm:grid-cols-2 lg:grid-cols-3' %}

<div class="py-4 px-4 mx-auto container lg:py-16">
  {% if has_slot('pre_headline') or has_slot('section_title') %} 
    {% include 'adesso_cms_theme:section-header' with { 
      title: get_slot('section_title'),
      pre_headline: get_slot('pre_headline'), 
      alignment: 'center', 
      title_tag: 'h2', 
      pre_headline_tag: 'span', 
      title_visual_level: '2',
      pre_headline_visual_level: '3', 
      additional_classes: 'mb-6 md:mb-8' 
    } %} 
  {% endif %}
  
  <div class="grid grid-cols-1 {{ grid_cols }} lg:gap-6">
    {{ get_slot('card_items') }}
  </div>
</div>
