<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">

  <testsuites>
    <testsuite name="ZH Demo Editorial Workflow Tests">
      <directory>tests/src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory>tests/</directory>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <env name="SIMPLETEST_BASE_URL" value="https://zh-demo.ddev.site"/>
    <env name="SIMPLETEST_DB" value="mysql://db:db@db:3306/db"/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["--disable-gpu","--headless","--no-sandbox","--disable-dev-shm-usage"]}}, "http://selenium:4444/wd/hub"]'/>
  </php>

</phpunit>