<div class="py-4 px-4 mx-auto container lg:py-16 border bg-card text-card-foreground border-none shadow-none">
  {% if has_slot('pre_headline') or has_slot('title') %} 
    {% include 'adesso_cms_theme:section-header' with { 
      title: get_slot('title'), 
      pre_headline: get_slot('pre_headline'), 
      alignment: 'center', 
      title_tag: 'h2', 
      pre_headline_tag: 'span', 
      title_visual_level: '2',
      pre_headline_visual_level: '3', 
      additional_classes: 'mb-6 md:mb-8' 
    } %} 
  {% endif %}

  <div>
    <div class="prose max-w-none [&_iframe]:w-full [&_iframe]:max-w-full">
      {% if has_slot('embed_content') %}
        {{ get_slot('embed_content') }}
      {% else %}
        {{ embed }}
      {% endif %}
    </div>
  </div>
</div>
