{#
/**
 * @file
 * Theme override to display a menu.
 */
#}
<ul class="flex flex-wrap gap-6 text-sm">
		{% for link in items %}
			{% if link.url %}
				<li>
					<a href="{{ link.url }}" class="transition-colors text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white {{ item_modifier }}">
						{{ link.title }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
</ul>
