{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
    <div class="outer-grid sticky top-12">
        <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
        <ul class="col-span-full tabs primary hidden rounded-lg shadow text-sm font-medium text-center text-gray-500  sm:flex divide-gray-700 dark:text-gray-400">{{ primary }}</ul>
    </div>
{% endif %}
{% if secondary %}
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="tabs secondary">{{ secondary }}</ul>
{% endif %}
