{#
/**
 * @file
 * Theme override for textarea elements.
 *
 * Available variables:
 * - wrapper_attributes: HTML attributes for the wrapper element.
 * - attributes: HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}

<div{{ wrapper_attributes.addClass('form-textarea-wrapper') }}>
  <textarea{{ attributes.addClass([
    'w-full',
    'px-3',
    'py-2',
    'border',
    'border-gray-300',
    'rounded-lg',
    'focus:outline-none',
    'focus:ring-2',
    'focus:ring-primary',
    'focus:border-transparent',
    'placeholder-gray-400',
    'text-gray-900',
    'text-sm',
    'transition',
    'duration-200',
    'min-h-[100px]',
    'resize-y'
  ]) }}>{{ value }}</textarea>
</div>