{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{% if title and not hide %}
  {# Check if we're on a node page and if it's already handled by node template #}
  {% set route_name = app.request.attributes.get('_route') %}
  {% set is_node_page = route_name starts with 'entity.node.' %}
  
  {% if not is_node_page %}
    {# Use page header component for non-node pages #}
    {% include 'adesso_cms_theme:page-header' with {
      title: title,
      description: '',
      background_image: '',
      alt_text: ''
    } %}
  {% else %}
    {# For node pages that don't have their own page header implementation #}
    <div class="container mx-auto mb-8">
      {%
        include 'adesso_cms_theme:heading' with {
          "heading": {
            "title": title,
            "heading_level": 1,
            "modifier": "text-4xl font-bold"
          }
        } only
      %}
    </div>
  {% endif %}
{% endif %}
