
<section class="{{ is_dark ? 'bg-gray-100' : 'bg-white' }}">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    <div class="max-w-4xl mx-auto text-center">
      {% if pre_headline %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: pre_headline,
            as: 'h3',
            custom_classes: 'mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900'
          }
        } %}
      {% endif %}
      {% if section_title %}
        {% include 'adesso_cms_theme:heading' with {
          heading: {
            title: section_title,
            as: 'h2',
            custom_classes: 'text-3xl font-bold mb-8 text-gray-900'
          }
        } %}
      {% endif %}
    </div>
    <div class="gap-4 mt-8 sm:grid sm:grid-cols-4 sm:mt-12">
      {% block gallery_items %}
        {# Gallery items will be rendered here by the paragraph template #}
      {% endblock %}
    </div>
  </div>
</section>
