<div class="relative pt-14 overflow-hidden">

        {% block image  %}{% endblock %}

    <div class="mx-auto max-w-6xl z-10">
        <div class="py-32 sm:py-48 lg:py-96 lg:pb-12">
            <div class="text-left"><h1
                        class="text-5xl font-semibold tracking-tight text-balance text-white sm:text-8xl"> {% block title %}{% endblock %}</h1>
                <div class="text-left mt-8 max-w-2xl text-lg font-hairline text-pretty text-white sm:text-xl/8"> {% block text %}{% endblock %}</div>
                <div class="mt-10 flex gap-x-6"> {% block actions %}{% endblock %}</div>
            </div>
        </div>
    </div>
    <div class="absolute overflow-hidden inset-0 bottom-0 z-[-1]  bg-gradient-to-b from-black/30 via-black/20 to-black"></div>
</div>