<div class="container mx-auto px-4 container">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
    {% block recent_card_items %}
      {% embed 'adesso_cms_theme:recent-card-item' with { "url": url } only %}
        {% block title %}
          {{ label }}
        {% endblock %}
        {% block content %}
          <div class="recent-card-content">
            {{ content.field_thumbnail }}
            {{ content.field_summary }}
          </div>
        {% endblock %}
      {% endembed %}
    {% endblock %}
  </div>
</div>
