{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{# Remove conflicting sizes attribute to let responsive images work properly #}
{% set clean_attributes = attributes.removeAttribute('sizes') %}
<div class="rounded-lg overflow-hidden">
<img{{ clean_attributes }} class="w-full h-auto rounded-lg" />
</div>
