@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'flowbite';
@import 'tailwindcss';
@import './base.css';
@import './typography.css';
@import './theme-variables.css';

@source '../../components';
@theme {
  --color-primary: #3b82f6;
  --color-primary-50: color-mix(in srgb, var(--color-primary) 5%, white);
  --color-primary-100: color-mix(in srgb, var(--color-primary) 10%, white);
  --color-primary-200: color-mix(in srgb, var(--color-primary) 25%, white);
  --color-primary-300: color-mix(in srgb, var(--color-primary) 40%, white);
  --color-primary-400: color-mix(in srgb, var(--color-primary) 60%, white);
  --color-primary-500: var(--color-primary);
  --color-primary-600: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-700: color-mix(in srgb, var(--color-primary) 70%, black);
  --color-primary-800: color-mix(in srgb, var(--color-primary) 60%, black);
  --color-primary-900: color-mix(in srgb, var(--color-primary) 50%, black);
  --color-primary-950: color-mix(in srgb, var(--color-primary) 30%, black);
  --color-secondary: oklch(76.75% 0.16089370062474417 102.29484006182389);
  --color-secondary-foreground: #ffffff;
  --color-primary-foreground: #ffffff;
  --color-neutral: var(--color-slate-800);
  --color-neutral-50: var(--color-slate-50);
  --color-neutral-100: var(--color-slate-100);
  --color-neutral-200: var(--color-slate-200);
  --color-neutral-300: var(--color-slate-300);
  --color-neutral-400: var(--color-slate-400);
  --color-neutral-500: var(--color-slate-500);
  --color-neutral-600: var(--color-slate-600);
  --color-neutral-700: var(--color-slate-700);
  --color-neutral-800: var(--color-slate-800);
  --color-neutral-900: var(--color-slate-900);
  --color-neutral-950: var(--color-slate-950);
  --font-display: 'Inter', serif;
  --font-weight-hairline: 100;
  /* --font-weight-thin: 200; */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  /* --font-weight-medium: 500; */
  /* --font-weight-semibold: 600; */
  --font-weight-bold: 700;
  /* --font-weight-extrabold: 800; */
  /* --font-weight-black: 900; */
}

@layer base {

  html {
    color: var(--color-neutral);
    /* Set sans, serif or mono stack with optional custom font as default. */
    font-family: var(--font-sans);
    font-size: 20px;
    /* font-family: var(--font-serif); */
    /* font-family: var(--font-mono); */
  }
}



@layer components {

}



@layer utilities {

}


