{#
/**
 * @file
 * Card paragraph template using slot-based architecture
 */
#}

{% embed '@adesso_cms_theme/card-group/card.twig' with {
  modifier: ''
} only %}
  {% block media %}
    <div class="relative">
      {{ content.field_media }}
    </div>
  {% endblock %}
  {% block title %}
    {{ content.field_title }}
  {% endblock %}
  {% block content %}
    {{ content.field_summary }}
  {% endblock %}
  {% block actions %}
    {% if content.field_link %}
      {{ content.field_link }}
    {% endif %}
  {% endblock %}
{% endembed %}
