{#
/**
 * @file
 * Card paragraph template (child component - no wrapper needed).
 */
#}

{% set heading_content = {
  icon: content.field_icon,
  as: 'h3',
  modifier: 'mb-3'
} %}

{% set link = content.field_link ? {
  url: content.field_link.0.url,
  title: content.field_link.0.title
} : {} %}

{% embed '@adesso_cms_theme/card-group/card.twig' with {
  modifier: '',
  heading: heading_content,
  link: link
} only %}
  {% block title %}{{ content.field_title }}{% endblock %}
  {% block summary %}{{ content.field_summary }}{% endblock %}
  {% block media %}
    {# Use field template rendering instead of raw field array - RAW FIELD ARRAY FIX #}
    <div class="relative">
      {{ content.field_media }}
    </div>
  {% endblock %}
{% endembed %}
