<a{{ attributes.addClass('border-blue-20 mr-2 mb-2 inline-flex group font-medium items-center border-2 px-3 py-2 rounded-full text-blue-70 hover:bg-blue-20 hover:text-white transition-colors duration-200') }}>
  {% include "@designsystem/Icons/icon-close.html.twig" with {
    'classes': 'shrink-0 max-w-full size-6 fill-current'
  } %}
  <span class="ml-3">{{ label }}</span>
</a>
