{%
  set classes = [
    'container mx-auto px-4',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.frontend_editing }}
    {%
      include 'adesso_cms_theme:embed' with {
        pre_headline: content.field_pre_headline|render,
        title: content.field_title|render,
        sub_headline: content.field_sub_headline|render,
        embed: content.field_script|render,
      } only
    %}
  {% endblock %}
</div>
