{# /** * @file * Gallery paragraph template using paragraph-wrapper component with embed pattern. */ #} {# Gallery
paragraph configuration #} {% set wrapper_theme = paragraph.field_theme.value|default('default') %} {% set
wrapper_spacing = paragraph.field_spacing.value|default('medium') %} {% set wrapper_tag = 'section' %} {% set
wrapper_css_class = [ 'paragraph', 'paragraph--type--' ~ paragraph.bundle|clean_class, view_mode ?
'paragraph--view-mode--' ~ view_mode|clean_class, not paragraph.isPublished() ? 'paragraph--unpublished' ]|join(' ') %}
{# Embed the paragraph-wrapper component using slots #} {% embed 'adesso_cms_theme:paragraph-wrapper' with { theme:
wrapper_theme, spacing: wrapper_spacing, tag: wrapper_tag, className: wrapper_css_class, attributes: attributes } %} {%
block prefix %}{% endblock %} {% block content %}
<div class="py-8 px-4 mx-auto container lg:py-16">
  {# Gallery with slot-based media collection architecture - TITLE HANDLED BY COMPONENT #}
  {% embed 'adesso_cms_theme:gallery' with { 
    section_title: paragraph.field_title.value,
    pre_headline: paragraph.field_pre_headline.value 
  } only %}
    {% block gallery_items %}
      {# Use field template rendering for media collection - RAW FIELD ARRAY FIX #}
      {{ content.field_media_item }}
    {% endblock %}
  {% endembed %}
</div>
{% endblock %} {% endembed %}
