<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  {% block image %}{% endblock %}
    
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      {% block title %}{% endblock %}
    </h5>

    <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {% block text %}{% endblock %}
    </div>

    {% block actions %}{% endblock %}
  </div>
</div>
