{% set classes = [
  'fluid-grid',
  'relative',
  class|default('')
] %}

{# Attribute hinzufügen, wenn nötig #}
{% set attributes = attributes.addClass(classes) %}

{# Sektion ausgeben #}
<section{{ attributes }}>
  {% block inner %}{% endblock %}
</section>
