{% stories my_block with { title: 'Components/Block' } %}
    {% story default with {
        name: 'Default',
        args: {
            class: ''
        }
    } %}
        {% embed 'adesso_standard:block' with {
            class: args.class
        } %}
            {% block content %}
                <div class="grid-item">Item 1</div>
                <div class="grid-item">Item 2</div>
                <div class="grid-item">Item 3</div>
            {% endblock %}
        {% endembed %}
    {% endstory %}

    {% story with_custom_classes with {
        name: 'With Custom Classes',
        args: {
            class: 'custom-grid-class bg-gray-200 p-4'
        }
    } %}
        {% embed 'adesso_standard:block' with {
            class: args.class
        } %}
            {% block content %}
                <div class="grid-item">Custom Item 1</div>
                <div class="grid-item">Custom Item 2</div>
                <div class="grid-item">Custom Item 3</div>
            {% endblock %}
        {% endembed %}
    {% endstory %}
{% endstories %}
