{#
/**
 * @file
 * Text paragraph template using paragraph-wrapper component with embed pattern.
 */
#}

{# Text paragraph configuration - uses light theme and no spacing by default #}
{% set default_theme = 'light' %}
{% set default_spacing = 'none' %}
{% include '@adesso_cms_theme/_mixins/paragraph-config.twig' %} {# Embed the paragraph-wrapper component using slots #} {% embed
'adesso_cms_theme:paragraph-wrapper' with { theme: wrapper_theme, spacing: wrapper_spacing, tag: wrapper_tag, className:
wrapper_css_class, attributes: attributes } %} {% block content %}
<div class="py-8 px-4 mx-auto container lg:py-16">
  {% embed 'adesso_cms_theme:text' with {
    text_layout: paragraph.field_text_layout.value ?? 'left',
    title: paragraph.field_title.value,
    is_dark: wrapper_theme == 'dark',
    pre_headline: paragraph.field_pre_headline.value,
    body: content.field_body,
  } only %}
    {% block primary_action %}
      {% if paragraph.field_link.entity %}
        {{ content.field_link }}
      {% endif %}
    {% endblock %}
    {% block secondary_action %}
      {% if paragraph.field_link2.entity %}
        {{ content.field_link2 }}
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
{% endblock %} {% endembed %}
