
{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = []
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    {{ content.frontend_editing }}
    {%
      include 'adesso_cms_theme:text' with {
        text_layout: content.field_text_layout['#items'].getString() ?? 'left',
        title: content.field_title|render,
        pre_headline: content.field_pre_headline|render,
        body: content.field_body|render,
        link: content.field_link[0]['#url'] ? {
          url: content.field_link[0]['#url']|render,
          text: content.field_link[0]['#title']|render,
        } : {},
        link2: content.field_link2[0]['#url'] ? {
          url: content.field_link2[0]['#url']|render,
          text: content.field_link2[0]['#title']|render,
        } : {},
      } only
    %}
  </div>
  {% endblock %}
</div>

