{# Removed macros - using direct slot-based approach #}

<div class="text-container {{ className|default('') }}">
  {% if (text_layout|default('')) == 'buttons-right' %}
    <div class="lg:flex lg:items-start lg:justify-between">
      <div class="lg:flex-grow">
        {% block content %}
          {# Content slot for title and body text #}
        {% endblock %}
      </div>
      
      <div class="lg:ml-8 lg:flex-shrink-0 lg:self-start">
        {% set buttonContainerClasses = 'text-buttons mt-6 flex justify-start lg:justify-end' %}
        <div class="{{ buttonContainerClasses }}">
          {% block primary_action %}{% endblock %}
          {% block secondary_action %}{% endblock %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container {{ (text_layout|default('')) == 'centered' ? 'mx-auto text-center' : '' }}">
      {% block content %}
        {# Content slot for title and body text #}
      {% endblock %}
      
      {% set buttonContainerClasses = 'text-buttons mt-6 flex' %}
      {% if (text_layout|default('')) == 'centered' %}
        {% set buttonContainerClasses = buttonContainerClasses ~ ' justify-center' %}
      {% else %}
        {% set buttonContainerClasses = buttonContainerClasses ~ ' justify-start' %}
      {% endif %}
      
      <div class="{{ buttonContainerClasses }}">
        {% block primary_action %}{% endblock %}
        {% block secondary_action %}{% endblock %}
      </div>
    </div>
  {% endif %}
</div>