{# Text component with single block definitions #}

<div class="text-container {{ className|default('') }}">
  {% block content %}
    {# Content slot for title and body text #}
  {% endblock %}
  
  {% set buttonContainerClasses = 'text-buttons mt-6 flex' %}
  
  {% if (text_layout|default('')) == 'buttons-right' %}
    <div class="lg:flex lg:items-start lg:justify-between">
      <div class="lg:flex-grow">
        {# Content rendered above #}
      </div>
      
      <div class="lg:ml-8 lg:flex-shrink-0 lg:self-start">
        <div class="{{ buttonContainerClasses }} justify-start lg:justify-end">
          {% block primary_action %}{% endblock %}
          {% block secondary_action %}{% endblock %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container {{ (text_layout|default('')) == 'centered' ? 'mx-auto text-center' : '' }}">      
      {% if (text_layout|default('')) == 'centered' %}
        {% set buttonContainerClasses = buttonContainerClasses ~ ' justify-center' %}
      {% else %}
        {% set buttonContainerClasses = buttonContainerClasses ~ ' justify-start' %}
      {% endif %}
      
      <div class="{{ buttonContainerClasses }}">
        {# Actions rendered above in primary block #}
      </div>
    </div>
  {% endif %}
</div>